<center>
<hr WIDTH="100%">

<p><font face="Arial,Helvetica"><font size=+2>The History of Albannach</font></font></center>

<p><br>
<br>
<br>
<br>
<br>
<p><font face="Arial,Helvetica">
	The kingdom of Albannach was established in the year 27, shortly after the first invasion.  It started as a small outpost used to connect the Mystic Grotto with the kingdom of Seachainn.  An industrious merchant became the first King and had the castle constructed.  Unfortunatly his name has been lost in history.  Luckily this merchant proved to be an excellent ruler and Albannach soon florished.  When he passed away, the crown was passed to his son.  For generations the Kingdom lived in peace.  Then the second invasion occoured.  
<br><br>
	For 57 years the armies of Aerianell battled the forces of the TDG.  Some of the greatest hero's of the war came from the Kingdom of Albannach.  At the beginning of the war, Albannach wasn't that big of a target for the TDG's armies.  Most were trying to conquer the kingdoms of Seachainn and Innleach.  A company of Albannach's soliders arrived just in time to hold off an extra company of demigods that were about to breach the gates of Innleach.  Another company distracted the forces that were searching for the hiding place of the citizens of the Mystic Grotto.  Unfortunately these heroic deeds weren't unnoticed by the TDG.  An army soon gathered and razed Albannach to the ground near the end of the war.  Nearly half of the population of Albannach was killed.  Within 5 years the TDG was banished though.
<br><br>
	Soon after the end of the war, Albannach was rebuilt on the ruins of the old castle.  Unfortunately the king and his sons were killed when the castle fell.  Many of the greatest hero's were lost when they refused to abandon their posts to save their own lives.  The king's brother however ran soon after the battle started.  Many of the bodies of the dead weren't even buried , instead the new castle was built right on top of them.  The remains of the old castle forms the dungeons below the current castle.  The new king started raising taxes for the citizens of albannach.  Even though most had nothing, the kings soliders took everything they could.  Soon taxes were imposed on any that simply wished to travel through the region.  For close to 20 years this tyranny continued.  Until the Arch Necromancer Azthandius happened to pass through the region.  Without any money, he was jailed by the kings soliders.  Trapped in the dungeons of Albannach by the evil king, Azthandius used all of his powers to call up the spirits of the dead to haunt the castle.  The spirits sought out the king and destroyed him.  The rest of the citizens fled the castle for fear of their lives.  The spirits still dwell in the dungeons of Albannach.  Unfortunately no one was brave enough to venture back into dungeon to free the arch Necromancer.  After using all of his power, he was trapped in a simple iron cell until he starved to death.  Rumor has it that Azthandius's enchanted cloak is still in the dungeon.  Since then a troop of goblins have moved into the empty castle, although they rarely venture into the lower levels.</font>
<br> 
<br> 