<center>
<hr WIDTH="100%">

<p><font face="Arial,Helvetica"><font size=+2>The History of The Coastal Keep of Cathair</font></font></center>

<p><br>
<br>
<br>
<br>
<br>
<p><font face="Arial,Helvetica">
      The tale of this thieves' haven starts nearly 30 years ago when it was
first built by a man named William Aelger. William was an average man who 
had
an idea which he thought could make enough money to allow his family to live
in comfort. His plan was to build a center of trade where merchants from all
over the land could come and set up shop. They would not need to gain
permission from any politicians or elders within the center, nor would they
have to obtain a dizzying amount of permits to set up shop. All they would
need is to rent a spot within Cathair for a small fee. It took him years to
finish construction of the Coastal Keep, and even then it probably would not
have been possible had it not been for William gaining a business partner, 
an ex-knight named "Mark." Needless to say, once it was finally finished, the
Keep quickly became a huge success, and William and his family (as well as
Mark) soon had enough money to live out the rest of their lives in comfort.
<br><br>
      Unfortunately, this time of happiness would be tragically short. If
William had made an error anywhere in his planning, it would most definitely
be the fact that he built Cathair on the coasts of Aerianell. Less than 
three
years after its construction was completed, Cathair caught the eye of a band
of pirates. The amount of money and other items stored inside was too 
tempting
for them to pass up. They attacked Cathair with all the force they could
muster, firing on the keep with cannons for what seemed like an eternity
before they landed and continued the attack on foot. Tragically, the keep
simply did not have enough warriors about it to hold off the pirates. 
William,
his family, and most of the other people were killed...
<br><br>
      Among the few that survived was Mark, William's business partner. Said
to have been driven insane by the whole ordeal, Mark locked all the money he
could within a vault at the center of the keep. Rumor has it Mark is still
holed up in Cathair, doing his best to hold off the thieves. Which would be
nowhere near enough, if the thieves were not assuming that Mark hid the keys
to the vault. They fear that if he dies, their chances at the money will
become non-existant, and so they let the poor man think he is doing well. 
But
is this rumor really true? Or is Mark long dead? Perhaps, someday, some 
brave
individual will explore the ruined keep and find out...</font>
<br> 
<br> 