<center>
<hr WIDTH="100%">

<p><font face="Arial,Helvetica"><font size=+2>The History of Innleach</font></font></center>

<p><br>
<br>
<br>
<br>
<br>
<p><font face="Arial,Helvetica">
	The city of Innleach first came to be in approximately the year -35. There was no real founder, but the story of how Innleach came to be is, indeed, an interesting one. In the year 21, DemiGods were in charge of much of the eastern region of Aerianell. No one dared travel past the mountain ranges. Anabarr was hardly sheltered from the madness which was mere miles away. Everyone else away from the controlled regions of Aerianell obviously wanted the DemiGods away, but no one dared take action.
<br><br>
	One day, a lone Paladin made his way, severely wounded from an unknown source, to the somewhat barren dwelling of the Mystic Grotto. He immediately receive medical attention. Upon recovering, the Paladin spoke for the first time to the small community. He said that it was his destiny to lead an army against the DemiGods and triumph over them. The people of the Mystic Grotto didn't really know what to think. Some were for the idea, of course, though they didn't dare take up a weapon and go against the astonishing forces.
<br><br>
	The Paladin (whose name was later found out to be Turin) wasn't sure what to do. It was a small community made up mostly of children, all of which were good friends with each other at the time. Turin announced his departure, assuming no one wanted to aid him. As he was about to leave once and for all, a child stopped him. He said that he and the other children all wanted to be brought up as a Paladin, and that they would join his cause. Turin was ecstatic, of course, but... children? None of the 24 children that lived there breached the age of ten. They'd have to start their training immediately, for it would take them all at least ten years before they were capable of using Holy powers.
<br><br>
	Ten years did pass. The year was -39, and the DemiGods were at more power than ever. Though, at the same time, so was the noble group of new Paladins. After saying their good-byes, the valiant warriors made their way to Albannach, so as to recruit more fighters for their cause. Upon arriving, 13 warriors had joined the ranks, making for an army of 38 elite fighters. Then they finally made their way to what was soon to be Innleach for one of Aerianell's most horrifying battles.
<br><br>
	The army of Paladins and warriors showed no mercy to the DemiGods. Both sides suffered many casualties. With three fighters and two Demigods left, the battle seemed to be nearly won. Though, perhaps out of good intuition, the two DemiGods retreated to unknown territory. The three saviors - Turin, another Paladin, and a warrior - were grateful to find out their attempts were not in vain. The three of them were all heavily wounded, however. As an attempt to leave their mark, Turin lifted his blade on high, and thrust it into the middle of a wide, open area, soon to be Innleach. The three of them then died, going down forever in history. People would soon flock to the site to build the city of Innleach, but how Turin's blade came to be the tainted Gurthang is still unknown to this date... People believe an under-achieved Paladin tried to lay hand on Turin's blade, and it rejected him, bringing the first Anti-Paladin through unknown forces... But this is merely a myth.
</font>
<br> 
<br> 