<center>
<hr WIDTH="100%">

<p><font face="Arial,Helvetica"><font size=+2>The History of Nithean</font></font></center>

<p><br>
<br>
<br>
<br>
<br>
<p><font face="Arial,Helvetica">
	The Temple of Nithean was established in the year 263 by the Monk Praret after he returned victorious from the battle against the Terrible Dark God.  The relative peace after this victory gave him ample time to train many young Monks, Paladins and Clerics.  Many of the other Heroes from the battle sent prospective students to him from far and wide.  
<br><br>
	Within 20 years however, the TDG's troops returned to the lands of Aerianell.  The Demigods resumed their siege on the City of Innleach.  Since the majority of the TDG's troops came from the pyramid, The temple was in a prime position to appose them.  The Monks and Paladins of the temple would go forth to battle the armies or head North or West to assist the Towns of Innleach and Dannisair.  The Clerics of the temple would welcome and heal any injured warriors that arrived at the temple.  The battles raged for 20 years with the Temple being the cornerstone of Aerianell's defense.  
<br><br>
	Unfortunately, 40 years after he was banished, the TDG was able to resummon one of his Lieutenant's to finally capture the temple.  The Lieutenant's name has been lost to time, but he was rumored to be a master of the undead.  He raised an army from the Temple's own fallen Monks and Paladins and attacked.  The few clerics at the temple at the time couldn't stop the army of Undead and they quickly overwhelmed the Temple.  Praret mounted the final defense on the bottom level of the temple's Catacombs.  Praret was one of the older Hero's when the TDG was first defeated and had aged since then.  His was no longer strong enough to destroy the Lieutenant and his army of Undead.  He gathered the other temple elders around him and struck against the Lieutenant.  They couldn't stop him but as Praret was killed, he managed to cast a spell to trap the Lieutenant forever on the bottom level of the Catacombs.  The Lieutenant's troops still haunt the fallen Temple, waiting for the release of their Lord.</font>
<br> 
<br> 