<center>
<hr WIDTH="100%">

<p><font face="Arial,Helvetica"><font size=+2>The History of the Suthainn Forest</font></font></center>

<p><br>
<br>
<br>
<br>
<br>
<p><font face="Arial,Helvetica">
Suthainn forest was a peaceful and quiet place inhabited by Pixies, Griffons and other peace
loving creatures. Pure calm, peace, The ruler of the Pixies was kind and just. 
The forest folk prospered while they remained hidden from the world by their priceless 
Artifact. This artifact prevented anyone from seeing the forest, and it remained hidden 
for hundreds of years.  During the coming of the tdg, The inhabitants of the forest sheltered
the refugees after their towns were destroyed.
<br> <br>
One day, a man came, a stanger who claimed to be a friend. The Pixies welcomed him, for 
they knew little of the outside world, and were very hospitable to this stranger. The man 
seemed dark to all of the Pixies, and he never was seen to come out in sunlight, seeming 
to only come out at night or to stay in the darkest areas of the forest. He was seen many 
times close to the area of the sacred Artifact that kept the Pixies hidden from the 
monsters of the outside world. None but the King of the Pixies suspected that he would 
do anything, for he seemed courteous and kindly, and was treated so. 
<br> <br>
After about a year, monsters were seen roaming the forest. Immediately the Pixies went to the 
Artifact to see what was wrong. Their King was found dead, stabbed in the back with a dark dagger. 
And footprints near the pedestal where their Artifact once rested led off towards the Temple of Nithean
 The dark stranger who had stayed with them for a year or more, was gone. There 
were no traces whatsoever of anything living where he had stayed. 
<br> <br>
From then on, the Pixies and the monsters in the forest, confused and leaderless with the death of their king,
 rejected anything and anyone.   People who were living in Suthainn were cast out or killed, and contact to the outside 
world was lost. 
 

<br> 